.grey1-text {
    color: #323438;
}
.grey2-text {
    color: #85878c;
}
.grey3-text {
    color: #e5e6e9;
}
.white-text {
    color: #ffffff;
}
.green-text {
    color: #00c362;
}
.blue-text {
    color: #2196f3;
}

.grey1-background {
    background: #323438;
}
.grey2-background {
    background: #85878c;
}
.grey3-background {
    background: #e5e6e9;
}
.white-background {
    background: #ffffff;
}
.green-background {
    background: #00c362;
}
.blue-background {
    background: #2196f3;
}
